.display-name-container{
    display: flex;
    flex-direction: column;
    width: 60vw;
    height: 50vh;
    margin: 50px;
    border: black 2px solid;
    border-radius: 2%;
    padding: 20px;
    overflow: hidden;
}